.Navbar {
    font-family: monospace;
    
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: rgb(196, 173, 84) !important; 
}

.logo-space {
    margin-left: 25px; /* Adjust the margin as needed */
  }
  
.nav-space {
    margin-right: 27px; /* Adjust the margin as needed */
}
  