.employers-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.3vh;
    width: 100%;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210915/pngtree-geometric-lines-simple-white-gold-gradient-background-image_879481.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .input-field {
    margin-bottom: 10px; 
  }
  

  .registration-heading {
    margin-bottom: 35px; 
  }
  
  .form-control{
    margin-bottom: 13px;
  }

